{% extends "base_template.html" %}
{% load static %}

{% block style-links %}
<link rel="stylesheet" href="{% static 'CSS/other/about/team.css' %}" type="text/css">
{% endblock style-links %}



{% block content %}
<!-- START OF TE POSTS -->
<div class="container our-team">
    <div class="section-title">
        <h1>Our Team </h1>
    </div>

    <div class="row">
        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="{% static 'media/images/team/Rishabh_FMN.jpeg' %}" alt="" width="300px" height="300px">

                </div>
                <div class="team-content">
                    <h2>Rishabh Nahar</h2>
                    <h3>CEO & Co-Founder</h3>
                    <p>Frontend,Backend,Operations</p>
                    <h4>rishabhpnahar@gmail.com</h4>
                </div>
                <div class="team-social">
                    <!-- <a href="https://www.facebook.com/profile.php?id=100009314028539" class="social-fb" target="_blank"> <i class="fa fa-facebook"></i></a> -->
                    <a href="https://www.linkedin.com/in/rishabh-nahar-92b82520b/" class="social-li" target="_blank">
                        <i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/rishabh_nahar_3763/" class="social-in" target="_blank"> <i
                            class="fa fa-instagram"></i></a>
                    <!-- <a href="https://www.youtube.com/channel/UChVzP7gNOlkymoo000Y9_6Q" class="social-yt" target="_blank"> <i class="fa fa-youtube"></i></a> -->
                    <a href="https://github.com/rishabh-nahar" class="social-git" target="_blank"> <i
                            class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="{% static 'media/images/team/Aditya_FMN.jpg' %}" alt="" width="300px" height="300px">

                </div>
                <div class="team-content">
                    <h2>Aditya Trivedi</h2>
                    <p>CEO & Co-Founder</p>
                    <h3>Frontend,Backend,Content Management,Operations</h3>
                    <h4>adityatrivedi612@gmail.com</h4>
                </div>
                <div class="team-social">
                    <!-- <a href="https://www.facebook.com/profile.php?id=100009314028539" class="social-fb" target="_blank"> <i class="fa fa-facebook"></i></a> -->
                    <a href="https://www.linkedin.com/in/aditya-trivedi-b99586211/" class="social-li" target="_blank">
                        <i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/aditya.trivedi17/" class="social-in" target="_blank"> <i
                            class="fa fa-instagram"></i></a>
                    <!-- <a href="https://www.youtube.com/channel/UChVzP7gNOlkymoo000Y9_6Q" class="social-yt"
                        target="_blank"> <i class="fa fa-youtube"></i></a> -->
                    <a href="https://github.com/Yuvadi29" class="social-git" target="_blank"> <i
                            class="fa fa-github"></i></a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="{% static 'media/images/team/Pratyush_FMN.png' %}" alt="" width="300px" height="300px">
                </div>
                <div class="team-content">
                    <h2>Pratyush Lokhande</h2>
                    <h3>Head of Design </h3>
                    <p>Head of Design, Social Media Profiles</p>
                    <h3>pratyushlokhandes@gmail.com</h3>
                </div>
                <div class="team-social">
                    <!-- <a href="https://www.facebook.com/profile.php?id=100009314028539" class="social-fb" target="_blank"> <i class="fa fa-facebook"></i></a> -->
                    <a href="https://www.linkedin.com/in/pratyush-lokhande-37480a220/" class="social-li"
                        target="_blank">
                        <i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/praaatyush/" class="social-in" target="_blank"> <i
                            class="fa fa-instagram"></i></a>
                    <!-- <a href="https://www.youtube.com/channel/UChVzP7gNOlkymoo000Y9_6Q" class="social-yt" target="_blank"> <i class="fa fa-youtube"></i></a> -->
                    <a href="https://github.com/Yuvadi29" class="social-git" target="_blank"> <i
                            class="fa fa-github"></i></a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="{% static 'media/images/team/Tanmay_FMN.png' %}" alt="" width="300px" height="300px">
                </div>
                <div class="team-content">
                    <h2>Tanmay Patel</h2>
                    <h3>Head of Frontend</h3>
                    <p>Frontend</p>
                    <h3>tanmayapatel21@gmail.com</h3>
                </div>
                <div class="team-social">
                    <!-- <a href="https://www.facebook.com/profile.php?id=100009314028539" class="social-fb" target="_blank"> <i class="fa fa-facebook"></i></a> -->
                    <a href="https://www.linkedin.com/in/aditya-trivedi-b99586211/" class="social-li" target="_blank">
                        <i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/__tanmay_patel__/" class="social-in" target="_blank"> <i
                            class="fa fa-instagram"></i></a>
                    <!-- <a href="https://www.youtube.com/channel/UChVzP7gNOlkymoo000Y9_6Q" class="social-yt" target="_blank"> <i class="fa fa-youtube"></i></a> -->
                    <a href="https://github.com/Yuvadi29" class="social-git" target="_blank"> <i
                            class="fa fa-github"></i></a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="{% static 'media/images/team/Rakesh_FMN.jpg' %}" alt="" width="300px" height="300px">
                </div>
                <div class="team-content">
                    <h2>Rakesh Zore</h2>
                    <h3>Head of Frontend</h3>
                    <p>Frontend</p>
                    <h3>zorerakesh17@gmail.com </h3>
                </div>
                <div class="team-social">
                    <!-- <a href="https://www.facebook.com/profile.php?id=100009314028539" class="social-fb" target="_blank"> <i class="fa fa-facebook"></i></a> -->
                    <a href="https://www.linkedin.com/in/rakesh-zore-a1aab3227" class="social-li" target="_blank">
                        <i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/zore_rakesh/" class="social-in" target="_blank"> <i
                            class="fa fa-instagram"></i></a>
                    <!-- <a href="https://www.youtube.com/channel/UChVzP7gNOlkymoo000Y9_6Q" class="social-yt" target="_blank"> <i class="fa fa-youtube"></i></a> -->
                    <a href="https://github.com/ZoreRakesh" class="social-git" target="_blank"> <i
                            class="fa fa-github"></i></a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="{% static 'media/images/team/Pradip_FMN.png' %}" alt="" width="300px" height="300px">
                </div>
                <div class="team-content">
                    <h2>Pradip Pal</h2>
                    <h3>Backend</h3>
                    <p>Backend</p>
                    <h3>deepakpal8530@gmail.com </h3>
                </div>
                <div class="team-social">
                    <!-- <a href="https://www.facebook.com/profile.php?id=100009314028539" class="social-fb" target="_blank"> <i class="fa fa-facebook"></i></a> -->
                    <a href="https://www.linkedin.com/in/pradip-pal-0a361a211/" class="social-li" target="_blank">
                        <i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/Christoffer021/" class="social-in" target="_blank"> <i
                            class="fa fa-instagram"></i></a>
                    <!-- <a href="https://www.youtube.com/channel/UChVzP7gNOlkymoo000Y9_6Q" class="social-yt" target="_blank"> <i class="fa fa-youtube"></i></a> -->
                    <a href="https://github.com/pradip8928" class="social-git" target="_blank"> <i
                            class="fa fa-github"></i></a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="{% static 'media/images/team/Raj_FMN.png' %}" alt="" width="300px" height="300px">
                </div>
                <div class="team-content">
                    <h2>Raj Srivastav</h2>
                    <h3>Frontend</h3>
                    <p>Frontend</p>
                    <h3>rajsrivastav0603@gmail.com</h3>
                </div>
                <div class="team-social">
                    <!-- <a href="https://www.facebook.com/profile.php?id=100009314028539" class="social-fb" target="_blank"> <i class="fa fa-facebook"></i></a> -->
                    <a href="https://www.linkedin.com/in/rajsrivastavb4a8221b1/" class="social-li" target="_blank"> <i
                            class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/_raj.xd/" class="social-in" target="_blank"> <i
                            class="fa fa-instagram"></i></a>
                    <!-- <a href="https://www.youtube.com/channel/UChVzP7gNOlkymoo000Y9_6Q" class="social-yt" target="_blank"> <i class="fa fa-youtube"></i></a> -->
                    <a href="https://github.com/Raj0603" class="social-git" target="_blank"> <i
                            class="fa fa-github"></i></a>
                </div>
            </div>
        </div>

        <!-- End of TE POSTS -->

        <!-- Start OF SE POSTS -->
        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="{% static 'media/images/team/HarshShimp_FMN.jpg' %}" alt="" width="300px" height="300px">
                </div>
                <div class="team-content">
                    <h2>Harsh Shimpi</h2>
                    <h3>Post</h3>
                    <p>Work Done</p>
                    <h3>harshsolanki2002@gmail.com</h3>
                </div>
                <div class="team-social">
                    <!-- <a href="https://www.facebook.com/profile.php?id=100009314028539" class="social-fb" target="_blank"> <i class="fa fa-facebook"></i></a> -->
                    <a href="https://www.linkedin.com/in/harsh-solanki-shimpi-041146229" class="social-li"
                        target="_blank"> <i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/solanki_harsh_7/" class="social-in" target="_blank"> <i
                            class="fa fa-instagram"></i></a>
                    <!-- <a href="https://www.youtube.com/channel/UChVzP7gNOlkymoo000Y9_6Q" class="social-yt" target="_blank"> <i class="fa fa-youtube"></i></a> -->
                    <a href="https://github.com/Shimpi7" class="social-git" target="_blank"> <i
                            class="fa fa-github"></i></a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="{% static 'media/images/team/Sakshi_FMN.jpg' %}" alt="" width="300px" height="300px">
                </div>
                <div class="team-content">
                    <h2>Sakshi More</h2>
                    <h3>Post</h3>
                    <p>Work Done</p>
                    <h3>sakshimore1783@gmail.com</h3>
                </div>
                <div class="team-social">
                    <!-- <a href="https://www.facebook.com/profile.php?id=100009314028539" class="social-fb" target="_blank"> <i class="fa fa-facebook"></i></a> -->
                    <a href="https://www.linkedin.com/in/sakshi-more-20315324a" class="social-li" target="_blank"> <i
                            class="fa fa-linkedin"></i></a>
                    <!-- <a href="https://www.instagram.com/aditya.trivedi17/" class="social-in" target="_blank"> <i class="fa fa-instagram"></i></a> -->
                    <!-- <a href="https://www.youtube.com/channel/UChVzP7gNOlkymoo000Y9_6Q" class="social-yt" target="_blank"> <i class="fa fa-youtube"></i></a> -->
                    <a href="https://github.com/Sakshi-1703" class="social-git" target="_blank"> <i
                            class="fa fa-github"></i></a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="{% static 'media/images/team/Aditya Lawate_FMN.jpeg' %}" alt="" width="300px"
                        height="300px">
                </div>
                <div class="team-content">
                    <h2>Aditya Lawate</h2>
                    <h3>Post</h3>
                    <p>Work Done</p>
                    <h3>adityalawate2004@gmail.com</h3>
                </div>
                <div class="team-social">
                    <!-- <a href="https://www.facebook.com/profile.php?id=100009314028539" class="social-fb" target="_blank"> <i class="fa fa-facebook"></i></a> -->
                    <a href="https://www.linkedin.in/aditya-lawate" class="social-li" target="_blank"> <i
                            class="fa fa-linkedin"></i></a>
                    <!-- <a href="https://www.instagram.com/aditya.trivedi17/" class="social-in" target="_blank"> <i class="fa fa-instagram"></i></a> -->
                    <!-- <a href="https://www.youtube.com/channel/UChVzP7gNOlkymoo000Y9_6Q" class="social-yt" target="_blank"> <i class="fa fa-youtube"></i></a> -->
                    <a href="https://github.com/Aditdev" class="social-git" target="_blank"> <i
                            class="fa fa-github"></i></a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="{% static 'media/images/team/MitaliJain_FMN.jpg' %}" alt="" width="300px" height="300px">
                </div>
                <div class="team-content">
                    <h2>Mital Jain</h2>
                    <h3>Post</h3>
                    <p>Work Done</p>
                    <h3>mitalijain2805@gmail.com</h3>
                </div>
                <div class="team-social">
                    <!-- <a href="https://www.facebook.com/profile.php?id=100009314028539" class="social-fb" target="_blank"> <i class="fa fa-facebook"></i></a> -->
                    <a href="https://www.linkedin.com/in/mitali-jain-106630250" class="social-li" target="_blank"> <i
                            class="fa fa-linkedin"></i></a>
                    <!-- <a href="https://www.instagram.com/aditya.trivedi17/" class="social-in" target="_blank"> <i class="fa fa-instagram"></i></a> -->
                    <!-- <a href="https://www.youtube.com/channel/UChVzP7gNOlkymoo000Y9_6Q" class="social-yt" target="_blank"> <i class="fa fa-youtube"></i></a> -->
                    <a href="https://github.com/Mitalij28" class="social-git" target="_blank"> <i
                            class="fa fa-github"></i></a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="{% static 'media/images/team/HarshRaut_FMN.jpg' %}" alt="" width="300px" height="300px">
                </div>
                <div class="team-content">
                    <h2>Harsh Raut</h2>
                    <h3>Post</h3>
                    <p>Work Done</p>
                    <h3>harsh.210451101@vcet.edu.in</h3>
                </div>
                <div class="team-social">
                    <!-- <a href="https://www.facebook.com/profile.php?id=100009314028539" class="social-fb" target="_blank"> <i class="fa fa-facebook"></i></a> -->
                    <!-- <a href="https://www.linkedin.com/in/sakshi-more-20315324a" class="social-li" target="_blank"> <i class="fa fa-linkedin"></i></a> -->
                    <!-- <a href="https://www.instagram.com/aditya.trivedi17/" class="social-in" target="_blank"> <i class="fa fa-instagram"></i></a> -->
                    <!-- <a href="https://www.youtube.com/channel/UChVzP7gNOlkymoo000Y9_6Q" class="social-yt" target="_blank"> <i class="fa fa-youtube"></i></a> -->
                    <a href="https://github.com/harshraut46" class="social-git" target="_blank"> <i
                            class="fa fa-github"></i></a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="{% static 'media/images/team/Nirmiti_FMN.jpg' %}" alt="" width="300px" height="300px">
                </div>
                <div class="team-content">
                    <h2>Nirmiti Patil</h2>
                    <h3>Post</h3>
                    <p>Work Done</p>
                    <h3>nirmitipatil326@gmail.com</h3>
                </div>
                <div class="team-social">
                    <!-- <a href="https://www.facebook.com/profile.php?id=100009314028539" class="social-fb" target="_blank"> <i class="fa fa-facebook"></i></a> -->
                    <!-- <a href="https://github.com/Nirmiti27/Nirmiti-Patil41.git" class="social-li" target="_blank"> <i class="fa fa-linkedin"></i></a> -->
                    <a href="https://www.instagram.com/_.nimi._.patil._/" class="social-in" target="_blank"> <i
                            class="fa fa-instagram"></i></a>
                    <!-- <a href="https://www.youtube.com/channel/UChVzP7gNOlkymoo000Y9_6Q" class="social-yt" target="_blank"> <i class="fa fa-youtube"></i></a> -->
                    <a href="https://github.com/Nirmiti27" class="social-git" target="_blank"> <i
                            class="fa fa-github"></i></a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="{% static 'media/images/team/AdityaB_FMN.jpg' %}" alt="" width="300px" height="300px">
                </div>
                <div class="team-content">
                    <h2>Aditya Bhandare</h2>
                    <h3>Post</h3>
                    <p>Work Done</p>
                    <h3>adityabhandare2002@gmail.com</h3>
                </div>
                <div class="team-social">
                    <!-- <a href="https://www.facebook.com/profile.php?id=100009314028539" class="social-fb" target="_blank"> <i class="fa fa-facebook"></i></a> -->
                    <!-- <a href="https://github.com/Nirmiti27/_aditya3011_" class="social-li" target="_blank"> <i
                            class="fa fa-linkedin"></i></a> -->
                    <a href="https://www.instagram.com/_aditya3011_ " class="social-in" target="_blank"> <i
                            class="fa fa-instagram"></i></a>
                    <!-- <a href="https://www.youtube.com/channel/UChVzP7gNOlkymoo000Y9_6Q" class="social-yt" target="_blank"> <i class="fa fa-youtube"></i></a> -->
                    <a href="https://github.com/Aditya-3011" class="social-git" target="_blank"> <i
                            class="fa fa-github"></i></a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="{% static 'media/images/team/Anushka_FMN.jpg' %}" alt="" width="300px" height="300px">
                </div>
                <div class="team-content">
                    <h2>Anushka Supe</h2>
                    <h3>Post</h3>
                    <p>Work Done</p>
                    <h3>anushkasupe1@gmail.com</h3>
                </div>
                <div class="team-social">
                    <!-- <a href="https://www.facebook.com/profile.php?id=100009314028539" class="social-fb" target="_blank"> <i class="fa fa-facebook"></i></a> -->
                    <a href="https://www.linkedin.com/in/anushka-supe-034647247" class="social-li" target="_blank"> <i
                            class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/_.nimi._.patil._/" class="social-in" target="_blank"> <i
                            class="fa fa-instagram"></i></a>
                    <!-- <a href="https://www.youtube.com/channel/UChVzP7gNOlkymoo000Y9_6Q" class="social-yt" target="_blank"> <i class="fa fa-youtube"></i></a> -->
                    <a href="https://github.com/AnushkaSupe22" class="social-git" target="_blank"> <i
                            class="fa fa-github"></i></a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="{% static 'media/images/team/Karan_FMN.png' %}" alt="" width="300px" height="300px">
                </div>
                <div class="team-content">
                    <h2>Karan Sankhe</h2>
                    <h3>Post</h3>
                    <p>Work Done</p>
                    <h3>sankhe00009@gmail com</h3>
                </div>
                <div class="team-social">
                    <!-- <a href="https://www.facebook.com/profile.php?id=100009314028539" class="social-fb" target="_blank"> <i class="fa fa-facebook"></i></a> -->
                    <a href="https://www.linkedin.com/in/karan-sankhe-628969228/_" class="social-li" target="_blank"> <i
                            class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/karan_sankhe17" class="social-in" target="_blank"> <i
                            class="fa fa-instagram"></i></a>
                    <!-- <a href="https://www.youtube.com/channel/UChVzP7gNOlkymoo000Y9_6Q" class="social-yt" target="_blank"> <i class="fa fa-youtube"></i></a> -->
                    <a href="https://github.com/Karansankhe" class="social-git" target="_blank"> <i
                            class="fa fa-github"></i></a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="{% static 'media/images/team/Prassanna_FMN.jpg' %}" alt="" width="300px" height="300px">
                </div>
                <div class="team-content">
                    <h2>Prassanna Lahoti</h2>
                    <h3>Post</h3>
                    <p>Work Done</p>
                    <h3>prasannalahoti444@gmail.com</h3>
                </div>
                <div class="team-social">
                    <!-- <a href="https://www.facebook.com/profile.php?id=100009314028539" class="social-fb" target="_blank"> <i class="fa fa-facebook"></i></a> -->
                    <a href="https://www.linkedin.com/in/prasanna-lahoti-3699ba250" class="social-li" target="_blank">
                        <i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/prasanna.lahoti" class="social-in" target="_blank"> <i
                            class="fa fa-instagram"></i></a>
                    <!-- <a href="https://www.youtube.com/channel/UChVzP7gNOlkymoo000Y9_6Q" class="social-yt" target="_blank"> <i class="fa fa-youtube"></i></a> -->
                    <a href="https://github.com/prasannaaaaa" class="social-git" target="_blank"> <i
                            class="fa fa-github"></i></a>
                </div>
            </div>
        </div>

    </div>

</div>




{% endblock content %}



{% block scripts %}

{% endblock scripts %}  