{% block loadstatic %}
{% load static %}
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% block title %}Find My Notes{% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static 'media/svg/favlogo.svg' %}" sizes="32x32">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/commonforall.css' %}?" %}>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/base_template.css' %}?" %}>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/FMN_general.css' %}?" %}>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/animations.css' %}?" %}>

    {% block style-links %}
     {% endblock style-links %}

    {% block head-tag-scripts %}
    {% endblock head-tag-scripts %}
    
    {% for message in messages %}
    <script>    
        console.log("{{message}}")
        alert("{{message}}")
    </script>
    {% endfor %}
    <script>
            if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
    </script>

    
</head>

<body>
    <div id="top"></div>
    <div id="sidebar">
        {% block navbar %}
        {% include 'components/navbar.html'%}
        {% endblock navbar %}
    </div>
    
    <div class="main-body-container">
        {% block  content %}
             
        {% endblock content %}
    </div>

    {% block scripts %}
    {% endblock scripts %}

    {% block back-to-top %}
    <button class="back-to-top">
        <a href="#top">
            <img src="{% static 'media/svg/icons/expand_more.svg' %}" >
        </a>
    </button>
    {% endblock back-to-top %}
    <div class="footer">
        {% block footer %}
        {% include 'components/footer.html'%}
        {% endblock footer%}
    </div>

</body>

</html>