<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="findmynotes" />
            <add name="findmynotes" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Rishabh\AppData\Local\Programs\Python\Python310\python.exe|C:\Users\Rishabh\AppData\Local\Programs\Python\Python310\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="D:\Rishabh\Projects\FMN\find-my-notes\FindMyNotes" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="DJANGO_SETTINGS_MODULE" value="FindMyNotes.settings" />
  </appSettings>
</configuration>
