.upload-form-wrapper{
    min-height: 90vh;
    background-image: url(../../media/images/Upload/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0 20px 0; 
}
.upload-form-container{
    background-color: var(--white);
    padding: 10px 30px 15px 30px;
    border-radius: 5px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.144);
}

@media (max-width: 767px) {
    .upload-form-container{ 
        width:90vw;
        padding: 10px 30px 15px 30px;
    }
}

.upload-form form{
    display: grid;
    grid-template-columns: auto;
    gap:10px;
    justify-content: center;
}
.browse-file-bttn-div{
    border: 1px dashed var(--bc1) ;
    background-color: white;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.browse-file-bttn-div .fa-upload{
    color: var(--bc3);
    font-size: 30px
}
.upload-form input:not([type=checkbox]){
    height:40px;
    border: 1px solid var(--bc1);
    border-radius: 3px;
    padding: 0 15px;
}
@media (max-width: 768px) {
    .upload-form input:not([type=checkbox]){
        /* width: 95vw; */
        max-width: 500px
    }
}
@media (max-width: 480px) {
    .upload-form input:not([type=checkbox]), .upload-form textarea{
        width: 85vw;
        max-width: 500px;
    }

}
.upload-form form textarea{
    resize:none;
    border: 1px solid var(--bc1);
    border-radius: 3px;
    padding: 10px 15px;
}
.head-text{
    padding: 2vh 0;
}
button[type=submit]{
    height: 40px;
}


.load {
	width: 100px;
	height: 100px;
	margin: 110px auto 0;
	border:solid 10px #8822aa;
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	 -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    	
    	 transition: all 0.5s ease-in;
    animation-name:             rotate; 
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear; 
}