{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CSS/components/footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <footer id="footer">
        <div class="footer-container">
            <div class="sec-about">
                <h2>About Us</h2>
                <p>
                    <!-- Why roam around the world when u can find notes in just one click! Find my notes beings you the best
                    one place forever for you!.
                    Not all of us find the correct thing at right time, so we basically have all the correct things at at
                    platform for notes from your every known friends. Best notes available free of cost! -->
                    Because your planning is not always perfect, you need to be able to study
                    whenever, wherever. Just read your notes one last time on your tablet or
                    phone while you're on the go.
                </p>
                <ul class="sci">
                    <li><a href="https://www.facebook.com/Find-My-Notes-108463425295370" class="fa fa-link-facebook"
                            target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/find.my.notes/" class="fa-link-instagram" target="_blank"><i
                                class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="https://twitter.com/NotesFind" class="fa-link-twitter" target="_blank"><i
                                class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="sec-quicklinks">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/contact">Help</a></li>
                    <li><a href="/contact">Contact</a></li>

                </ul>
            </div>
            <div class="sec-contact">
                <h2>Contact Info</h2>
                <ul class="info">
                    <li>
                        <a href="tel:+91 99879 90097">
                            <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                            <p><a href="tel:+">+91 99879 90097</a></p>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+91 97649 35361">
                            <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                            <p><a href="tel:+">+91 97649 35361</a></p>
                        </a>
                    </li>
                    <li>
                        <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                        <p>
                            <a href="mailto:findmynotes2022@gmail.com" target="_blank">
                                findmynotes2022@gmail.com</p>
                            </a>
                        </p>
                    </li>
                </ul>
            </div>

        </div>
    </footer>

    <script>
        function show_links(link_id) {
            document.getElementById(link_id).classList.toggle("show-links");
        }
    </script>
</body>

</html>