{% load static %}

<link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Ingrid+Darling&family=Poppins&display=swap" rel="stylesheet">


<div class="greeting-container">
    <div class="greeting-conatiner-wrapper">
        <div class="greeting-content">
            <div class="greeting-image-container"><img class="greeting-image" src="{% static 'media/images/extra/omkar.png' %}" alt=""></div>
            <div class="greeting-text">
                <div class="congrats-text">Congratulations Omkar Jadhav</div>
                <div class="greet-description">Yet another tag on a long list of achievements. Celebrate this moment and strive for more in your career. The Team of FindMyNotes congratulates you on your being selected as a college reporter in Maharashtra Times.</div>
            </div>
        </div>
    </div>
</div>