{% extends "base_template.html" %}
{% load static %}

{% block style-links %}

{% endblock style-links %}
   
{% block  content %}

{% comment %} <div class="fmn-table-container py-2px">
    <table  class="clicked-table fmn-table">
        <tr>
            <th>ID</th>
            <th>File ID</th>
            <th>File title</th>
            <th>File URL</th>
            <th>UserID</th>
            <th>Username</th>
            <th>Timestamp</th>
        </tr>
        {% for clicked_file in clicked_file_data  %}
        <tr class="text-center">
            <td>{{clicked_file.pk}}</td>
            <td>{{clicked_file.file.pk}}</td>
            <td>{{clicked_file.file.file_title}}</td>
            <td><a href="{{clicked_file.file.file_url}}">{{clicked_file.file.file_url}}</a></td>
            <td>{{clicked_file.user_clicked.pk}}</td>
            <td>{{clicked_file.user_clicked.username}}</td>
            <td>{{clicked_file.timestamp}}</td>
        </tr>
        {% endfor %}
    </table>
</div> {% endcomment %}
<div id="rawData"></div>
{% endblock content %}

{% block scripts %}

<script>
     function getOpenedFiles(){
        console.log("Getting data");
        try {
            var xhttp = new XMLHttpRequest();
            console.log("ajax request state: "+xhttp.readyState);
            xhttp.onreadystatechange = function() {
                if(this.readyState == 4 && this.status == 200){
                    console.log("Ans:<br>"+this.responseText)
                    document.getElementById("rawData").innerHTML = this.responseText

                }
            }
            file_url = '/getOpenedFiles'

            xhttp.open('POST',file_url,true);
            xhttp.setRequestHeader("X-CSRFToken","{{csrf_token}}")
            xhttp.send();

        } catch (err) {
            console.log("Error: " + err)
        }
    }

    getOpenedFiles()
</script>

{% endblock scripts %}   