




{% extends "base_template.html" %}
{% load static %}

{% block style-links %}


<link rel="stylesheet" type="text/css" href="{% static 'CSS/commonforall.css' %}?" %}>
<link rel="stylesheet" type="text/css" href="{% static 'CSS/reg_page/reg_page.css' %}?" %}>

{% endblock style-links %}
   


{% block  content %}
<div class="container">
    <div class="content">
        <div class="left-side">
            <div class="topic-text">Registration</div>

            <div class="imp-field small text-center">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            <form method="post" id="reg_form" onsubmit="return getEmail()">
                {% csrf_token %}
                <div class="input-box input1">
                    <input type="text" pattern="^\S+$" placeholder="First Name" name="firstname" style="width: 48%;" min-length="3" max-length="30" required>
                    <input type="text" pattern="^\S+$" placeholder="Last Name" name="lastname" style="width: 48%;"  min-length="3" max-length="30"  required>
                </div>
                <div  class="text-center color-2">
                    <small class="px-1px">
                        Firstname and Lastname should only contain alphabets (not even spaces are allowed).<br>
                    </small >
                </div>
                <div class="input-box input1">
                    <select id="select" name="gender" style="width: 48%;" required>
                        <option selected disabled>Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                    </select>
                    <div style="width: 48%;" class="flex">

                        DOB:<input type="date" id="input_date" onchange="dateLimits()" name="dob" pattern="^\S+$" placeholder="Date Of Birth" max="01-01-2000"   required>
                    </div>
                </div>
                <div class="input-box">
                    <input type="text" name="mail" minlength="24" id="email_input" onchange="getEmail(this)" placeholder="Email" required>
                    <p class="imp-field" id="warning_text"></p>
                </div>  
                <div  class="text-center color-2">
                    <small class="px-1px">
                        Only Vcet email IDs are allowed<br>
                    </small >
                </div>
                <div class="input-box">
                    <input type="number" name="phone" pattern="^\S+$" placeholder="Mobile no." minlength="10" maxlength="10" required>
                </div>
                <div class="input-box">
                    <input type="text" name="username" pattern="^\S+$" minlength="8" maxlength="30" placeholder="Username" required>
                </div>
                <div class="input-box">
                    <input type="password" name="password" id="pass_input" minlength="8" maxlength="30" pattern="^\S+$" placeholder="Password" required>
                    <div class="middle">
                        <p class="show font-size-14">
                            <input class="check" onclick="showPass(this)" type="checkbox">
                            Show Password
                        </p>
                        <!-- <p><a href="" class="underline color-1 font-size-14" type="reset">Reset</a></p> -->
                    </div>
                    </div>
                <div class="button">
                    <input type="submit" id="register_bttn" disabled="true" value="REGISTER">
                </div>
                <div class="middle-text">
                    <p>Already have an Account?</p>
                    <a href="/loginpage" class="color-2 underline">Login</a>
                </div>
            </form>
        </div>
        <!-- <div class="center-line">
            <div class="line"></div>
            <div class="or">or</div>
        </div> -->
        <!-- <div class="right-side">
            <p class="right-side-text">Register with Social Platforms</p>
            <div class="social">
                    <img src="{% static 'media/images/loginandsignup/google.png' %}" alt="">
                    <input type="button" value="Continue with Google">
                </div>
                <div class="social">
                    <img src="{% static 'media/images/loginandsignup/Facebook.png' %}" alt="">
                    <input type="button" value="Continue with Facebook">
                </div>
                <div class="social">
                    <img src="{% static 'media/images/loginandsignup/github.png' %}" alt="">
                    <input type="button" value="Continue with Github">
                </div>
            
        </div> -->
    </div>
</div>

{% endblock content %}



{% block scripts %}

    <script>
        
    function showPass(checkbox){
        var password_inp = document.getElementById('pass_input')
        if(checkbox.checked){
            password_inp.type = "text"
        }
        else{
            password_inp.type = "password"
        }
    }
    function getEmail(){
        email_field = document.getElementById("email_input")
        get_email = email_field.value;
        valid_email = get_email.includes("@vcet.edu.in")
        if(!valid_email){
            document.getElementById("register_bttn").disabled = true;
            alert("Only VCET students can register for now")
            email_field.style.borderColor = "red"
            return false
        }
        else{
            document.getElementById("register_bttn").disabled = false;
            document.getElementById("warning_text").innerHTML = ""
            email_field.style.borderColor = "green";
            return true
        }
    }
    
    </script>


{% endblock scripts %}   
