{% extends "base_template.html" %}
{% load static %}

{% block style-links %}
<link rel="stylesheet" href="{% static 'CSS/upload/terms_and_conditions.css' %}">
{% endblock style-links %}

{% block  content %}       
<main class="wrap">
  <section class="container">
    <div class="container__heading">
      <h2>Terms & Conditions</h2>
    </div>
    <div class="container__content">
    <br>
    <h3>Welcome to Find My Notes!</h3>  
        <p>Before registering and creating an account on our website,you are agreeing to be bound by these Terms & Conditions and our Privacy Policy and, if you use any particular services , you do so subject to any additional terms and conditions that are applicable to that service.  Please read these Conditions; they are important.  If you do not agree to these Conditions do not use this Website or the Services.  If you are entering into this these Conditions on behalf of other users (for example, you are an administrator signing up a school and its teachers), the organisation you are signing up on behalf of will be responsible for all use of the Website and Services by those other users.   </p>
        <br>
      <h3>Information about us</h3>
        <p>Find My Notes is a service based organisation,which is registered in India.The headquarter is situated in Vidyavardhini's College of Engineering & Technology, Vasai - Virar, Maharashtra.You may contact us at <a href="mailto:findmynotes2022@gmail.com">findmynotes2022@gmail.com</a>. </p>
        <br>
    <h3>What we do</h3>
      <p>We provide our users to absorb and intake good amount of educational content and material,to search and access other student's notes and upload personalized notes too. We aim to create a community for students which guides them to build their career by using our services. </p>
      <br>
    <h3>Account & Details</h3>
      <p>You are responsible for any activities that occur under your account. Please keep your login details and password confidential and secure. You must not allow anyone else to have access to your account.If you have any concerns about your login details and if you think they may have been misused you should contact us immediately at <a href="mailto:findmynotes2022@gmail.com">findmynotes2022@gmail.com</a>. <br>
        We reserve the right to suspend or restrict access or terminate your account if there is any type of suspicious activity or for any other reasonable reason.<br>
        If you delete your account by mistake please contact us and we will try to help, but we do not guarantee that we will be able to restore or recover things. In case you may need to create a new account.</p>
        <br>
    <h3>Decisive Information about Notes</h3>
      <p> All Notes on our Platform are provided for general information only and have not been created by Find My Notes. Find My Notes makes no statements, whether express or implied, about the accuracy, quality, or fitness for purpose of Notes published on the Platform. The Notes on our Platform are not intended to amount to advice on which you should rely, and any use of or reliance on any Notes provided on our Platform is at your own risk. <br>If you have any comments or concerns about any Notes or other content on the Platform or, if you believe your copyrighted work has been infringed, or are aware of other infringing, illegal or inappropriate material, please contact us at <a href="mailto:findmynotes2022@gmail.com">findmynotes2022@gmail.com</a> and we will investigate. We may ask you to provide further information to assist in our investigation and any claim of infringement.</p>
      <br>
      <h3>Terms & Conditions to follow while uploading notes</h3>
      <p>
        Only members of our community are able to submit Notes to us on the platform. When submitting Notes to us you must provide the following information:
        <ol>
          <li>The subject, class/branch, faculty and college/university that the Note relates to.</li>
          <li>A short description of the content of your note.</li>
        </ol>
      </p>
      <br>
       <h3>Eligibility criteria for the notes to be uploaded</h3>
       <p>
        <ol>
          <li>You are required to upload your own handwritten notes in pdf format.</li>
          <li>The notes shouldn't be abusive and are required to be strictly related to the educational content.</li>
          <li>They should be original, legal from your side and shouldn't be subjected to copyright infringement.</li>
          <li>The notes are required to be well structured and are to be kept with reference to the subject.</li>
        </ol>
        </p>
        <br>
        <h3>General</h3>
        <p>We may change these Terms from time to time, and if we make any changes which affect your rights in relation to these Terms we will notify you.</p>
        <br>
      <h3>Your Concerns </h3>
        <p>If you have any concerns regarding our services, you are free to contact us and share your valuable feedback at <a href="mailto:findmynotes2022@gmail.com">findmynotes2022@gmail.com</a>.</p>
    </div>
  </section>
</main>

{% endblock content %}
{% block scripts %}

{% endblock scripts %}   