/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.report-body{
    font-family: "Poppins" , sans-serif;
    background-image: url(./images/1.jpg);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.search{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: #fff000;
    padding: 10px;
    z-index: 100;
}
.Search-box {

    background-color: #ffffff;
    width: 60%;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow:rgba(0, 0, 0, 0.288) 0px 1px 5px;
    
}

.Search-box input {
    all: unset;
    font: 16px system-ui;
    color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    padding: 6px 10px;
    
}

::placeholder {
    color: black ;
    opacity: 0.7;
}

.Search-box svg {
    color: rgb(0, 0, 0);
    fill: currentColor;
    border: none;
    width: 20px;
    height: 24px;
    padding: 10px;
}

.Search-box button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}
.report{
    grid-template-columns:repeat(auto-fit,minmax(200px,270px));
    display:grid;
    margin: 65px 5px 0px 5px;
    justify-content: center;
}





.report-card{
    background-color: #fff;
    width: 200px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
    display: inline-block;
    position: relative;
}

.report-card .card-name .name-card{
    overflow-y: hidden;
    display: inline;
    width: 100%;
    height: 28px;
    overflow-y: scroll;
}
.report-card .card-name .text{
    font-size: 10px;
    font-weight: 600;
    width: max-content;   
    text-decoration: none;
    color: black; 
}
::-webkit-scrollbar{
    width: 5px;
    height: 4px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.17);
    border-radius: 50px; 
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0, 255, 255, 0.304);
  }  

.report-card .image img{
    width: 100%;
    height: 150px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.report-card .details .like{
    font-size: 9px;
    font-weight: 600;
    margin-top: 4px;
    margin-bottom: 2px;
}

.report-card .details .upldby-name{
    font-size: 10px;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 2px;


}
.report-card .details .tp{
    margin-bottom: 21px;
}
.report-card .details .desc{
    display: flex;
}
.report-card .details .dfull{
    display: flex;
    position: absolute;
    background-color: white;
    height: 27%;
    width: 88%;
    bottom: 16%;
}   
.report-card .details .full{
    font-size: 9px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 2px;
    white-space: normal;
    overflow-x: scroll;

}

.report-card .details .full::-webkit-scrollbar{
    width: 3px;
    height: 0px;
  }

.report-card .details .descon{
    width: 18px;
    font-size: 13px;
    cursor: pointer;
    margin-left: 10px;
}

.report-card .details .date{
    font-size: 8px;
    font-weight: 600;
    margin-top: 4px;
    margin-bottom: 4px;
    color: rgba(0, 0, 0, 0.582);
    text-align: end;
}

.report-card .button{
    display: flex;
    justify-content: space-around;
}
.report-card .button .valid{
    background-color: rgb(15, 221, 15);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
}
.report-card .button .invalid{
    background-color: rgb(221, 15, 15);
    border: none;
    color: white;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;

}
.report-card .button .valid:hover{
    background-color: rgba(0, 255, 0);
}
.report-card .button .invalid:hover{
    background-color:  rgba(255, 0, 0);
}


.report-card .icons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    cursor: pointer;
}
.report-card .icons i{
    font-size: 18px;
    
}
.report-card .icons .comment{
    padding-right: 5px;
}

.report-card .icons .separate-icons-1{
    display: flex;
    
}
.report-card .icons .fav{
    color: red;
}
.report-card .reportuser{
    font-size: 9px;
    font-weight: 600;
    margin-bottom: 0px;

}
.report-card .reportuser a{
    text-decoration: none;
    color: black;
}

















/* 
@media (max-width: 1275px){
    .report-card{
        margin: 15px auto;
    }
} */
@media (max-width: 975px) {
    .report{
        grid-template-columns:repeat(auto-fit,minmax(190px,260px));
    }
    .report-card{
        width: 190px;
    }
}

@media (max-width: 885px) {
    .report{
        grid-template-columns:repeat(auto-fit,minmax(180px,250px));
    }
    .report-card{
        width: 180px;
    }
    .report-card .card-name{
        margin-top: -2px;
    }
    .report-card .reportuser{
        margin-bottom: -2px;

    }
    .report-card .image img{
        height: 140px;
    }
    .report-card .icons{
        margin-top:8px ;
    }
}
@media (max-width: 825px) {
    .report{
        grid-template-columns:repeat(auto-fit,minmax(170px,240px));
    }
    .report-card{
        width: 170px;
    }
    .report-card .card-name{
        margin-top: -4px;
    }
    .report-card .reportuser{
        margin-bottom: -3px;

    }
    .report-card .image img{
        height: 130px;
    }
    .report-card .icons{
        margin-top:6px ;
    }
    .report-card .card-name .text,
    .report-card .details .description,
    .report-card .details .full,
    .report-card .details .like,
    .report-card .details .date,
    .report-card .reportuser{
        font-size: 8px;
    }
    .report-card .details .upldby-name{
        font-size: 9px;
    }
    
    .report-card .icons i{
     font-size: 13px;
    }
    .report-card .details .descon{
        font-size: 10px;
    }
    .report-card .details .dfull{
        bottom: 18%;
    }
}
@media (max-width: 765px) {
    .report{
        grid-template-columns:repeat(auto-fit,minmax(160px,230px));
    }
    .report-card{
        width: 160px;
    }
    .report-card .card-name{
        margin-top: -6px;
    }
    .report-card .reportuser{
        margin-bottom: -3px;

    }
    .report-card .image img{
        height: 120px;
    }
    .report-card .icons{
        margin-top:5px ;
    }
    .report-card .card-name .text,
    .report-card .details .description,
    .report-card .details .full,
    .report-card .details .like,
    .report-card .details .date,
    .report-card .reportuser{
        font-size: 7px;
    }
    .report-card .details .upldby-name{
        font-size: 8px;
    }
    
    .report-card .icons i{
     font-size: 12px;
    }
    .report-card .button .invalid,
    .report-card .button .valid{
        font-size: 10px;
    }
    .report-card .details .descon{
        font-size: 9px;
    }
}
@media (max-width: 715px) {
    .report{
        grid-template-columns:repeat(auto-fit,minmax(150px,220px));
    }
    .report-card{
        width: 150px;
        padding: 14px;
        border-radius: 8px;
    }
    .report-card .card-name{
        margin-top: -8px;
    }
    .report-card .reportuser{
        margin-bottom: -4px;

    }
    .report-card .image img{
        height: 110px;
        border-radius: 5px;
    }
    .report-card .icons{
        margin-top:4px ;
    }
    .report-card .card-name .text,
    .report-card .details .description,
    .report-card .details .full,
    .report-card .details .like,
    .report-card .details .date,
    .report-card .reportuser{
        font-size: 6px;
    }
    .report-card .details .upldby-name{
        font-size: 7px;
    }
    
    .report-card .icons i{
     font-size: 11px;
    }
    .report-card .button .invalid,
    .report-card .button .valid{
        font-size: 9px;
    }
    .report-card .details .descon{
        font-size: 8px;
    }
    
}
@media (max-width: 645px) {
    .report{
        
        grid-template-columns:repeat(auto-fit,minmax(140px,210px));
        margin-top: 55px;

    }
    .report-card{
        width: 140px;
        padding: 12px;
        border-radius: 7px;
    }
    .report-card .card-name{
        margin-top: -10px;
    }
    .report-card .reportuser{
        margin-bottom: -5px;

    }
    .report-card .image img{
        height: 100px;
        border-radius: 4;
    }
    .report-card .icons{
        margin-top: 3px ;
    }
    .report-card .details .tp{
        margin-bottom: 18px;
    }
    .report-card .card-name .text,
    .report-card .details .description,
    .report-card .details .full,
    .report-card .details .like,
    .report-card .details .date,
    .report-card .reportuser{
        font-size: 5px;
    }
    .report-card .details .upldby-name{
        font-size: 6px;
    }
    
    .report-card .icons i{
     font-size: 10px;
    }
    .report-card .button .invalid,
    .report-card .button .valid{
        font-size: 8px;

    }.report-card .details .descon{
        font-size: 8px;
    }
    .Search-box{
        height: 35px;
    }
    .Search-box svg{
        width: 18px;
    }
    .Search-box .input{
        font-size: 12px;
    }
}
@media (max-width: 585px) {
    .report{
        grid-template-columns:repeat(auto-fit,minmax(130px,200px));
    }
    .report-card{
        width: 130px;
        padding: 11px;
        border-radius: 6px;
    }
    .report-card .card-name{
        margin-top: -10px;
    }
    .report-card .reportuser{
        margin-bottom: -6px;

    }
    .report-card .image img{
        height: 90px;
        border-radius: 3px;
    }
    .report-card .icons{
        margin-top: 2px ;
    }
    .report-card .details .tp{
        margin-bottom: 16px;
    }
    .report-card .card-name .text,
    .report-card .details .description,
    .report-card .details .full,
    .report-card .details .like,
    .report-card .details .date,
    .report-card .reportuser{
        font-size: 5px;
    }
    .report-card .details .upldby-name{
        font-size: 6px;
    }
    
    .report-card .icons i{
     font-size: 10px;
    }
    .report-card .button .invalid,
    .report-card .button .valid{
        font-size: 7px;
    }
    .report-card .details .descon{
        font-size: 8px;
    }
    
}
@media (max-width: 465px) {
    .report{
        grid-template-columns:repeat(auto-fit,minmax(110px,180px));
        margin-top: 45px;
    }
    .report-card{
        width: 110px;
        padding: 10px;
        border-radius: 5px;
    }
    .report-card .card-name{
        margin-top: -11px;
    }
    .report-card .reportuser{
        margin-bottom: -4px;

    }
    .report-card .image img{
        height: 80px;
        border-radius: 2px;
    }
    .report-card .icons{
        margin-top:0px ;
    }
    .report-card .details .tp{
        margin-bottom: 12px;
    }
    .report-card .card-name .text,
    .report-card .details .description,
    .report-card .details .full,
    .report-card .details .like,
    .report-card .details .date,
    .report-card .reportuser{
        font-size: 4px;
    }
    .report-card .details .upldby-name{
        font-size: 5px;
    }
    
    .report-card .icons i{
     font-size: 9px;
    }
    .report-card .button .invalid,
    .report-card .button .valid{
        font-size: 6px;
    }
    .report-card .details .descon{
        font-size: 7px;
    }
    .report-card .details .dfull{
        bottom: 16%;
    }
    .Search-box{
        height: 30px;
    }
    .Search-box svg{
        width: 14px;
    }
    .Search-box .input{
        font-size: 10px;
    }
}