{% extends "base_template.html" %}
{% load static %}

{% block style-links %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/other/notfound/notfound.css' %}?" %}>
{% endblock style-links %}
   
{% block navbar %}
{% endblock navbar %}

{% block  content %}
<div class="wrapper">
    <h2>Oops! Page not found.</h2>
    <div>
        <img src="https://raw.githubusercontent.com/kritika27/fitness-tracker-mern-stack-app/6b5e7bb5ce58e781fc025eceb78c598127225030/client/src/images/undraw_page_not_found_su7k.svg" alt="404">
    </div>
    <h4>We can't fint the page you're looking for.</h4>
    <a href="/">
        <button type="button" class="main-btn">GO BACK HOME</button>
    </a>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}  

{% block footer %}
{% endblock footer%}